In [1]:
import pandas as pd
import plotly.graph_objects as go
import numpy as np
import plotly_express as px
from plotly.offline import init_notebook_mode , iplot
init_notebook_mode(connected=True)

In [3]:
data = pd.read_csv(r'mafs.csv')
data.head()

,Couple,Season,Location,Name,Age,Gender,Occupation,Decision,Status,DrPepperSchwartz,DrLoganLevkoff,DrJosephCilona,ChaplainGregEpstein,PastorCalvinRoberson,RachelDeAlto,DrJessicaGriffin,DrVivianaColes
0,1,1,New York City and Northern New Jersey,Jamie Otis-Hehner,27,F,Nurse,Yes,Married,1,1,1,1,0,0,0,0
1,1,1,New York City and Northern New Jersey,Doug Hehner,31,M,Software salesman,Yes,Married,1,1,1,1,0,0,0,0
2,2,1,New York City and Northern New Jersey,Cortney Hendrix,26,F,Make-up artist,Yes,Divorced,1,1,1,1,0,0,0,0
3,2,1,New York City and Northern New Jersey,Jason Carrion,27,M,Fireman,Yes,Divorced,1,1,1,1,0,0,0,0
4,3,1,New York City and Northern New Jersey,Monet Bell,33,F,Product development manager,No,Divorced,1,1,1,1,0,0,0,0

In [5]:
data.columns

Index(['Couple', 'Season', 'Location', 'Name', 'Age', 'Gender', 'Occupation',
       'Decision', 'Status', 'DrPepperSchwartz', 'DrLoganLevkoff',
       'DrJosephCilona', 'ChaplainGregEpstein', 'PastorCalvinRoberson',
       'RachelDeAlto', 'DrJessicaGriffin', 'DrVivianaColes'],
      dtype='object')